<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.demo.dao.OrderMapper" >

    <select id="getAllOrders" resultType="TBOrder">
        SELECT id,status,customer_id,add_time,sum_price,address,phone,receiver_name FROM t_b_order
        <if test="firstResult!=null">
            LIMIT #{firstResult},#{maxResults}
        </if>
    </select>

    <select id="getTotal" resultType="java.util.Map">
        SELECT COUNT(1)as total FROM t_b_order
    </select>

    <select id="getOrderDetail" resultType="TBOrder">
        SELECT id,status,customer_id,add_time,sum_price,address,phone,receiver_name FROM t_b_order WHERE id=#{orderId}
    </select>

    <select id="getOrderPetInfo" resultType="TBPets">
        SELECT p.id,pets_desc,pets_price,pets_num,img_path,is_hot,po.pets_nums as petsNums
        FROM t_b_pets p INNER JOIN t_b_pets_order_info po
        ON  p.id=po.pets_id  WHERE po.order_id=#{orderId}
    </select>

    <insert id="makeOrder" parameterType="java.util.Map">
        INSERT INTO t_b_order(id,status,customer_id,add_time,sum_price,address,phone,receiver_name)VALUE
        (#{id},#{status},#{customerId},#{addTime},#{sumPrice},#{address},#{phone},#{receiverName})
    </insert>

    <update id="updateOrderMsg" parameterType="java.util.Map">
        UPDATE t_b_order
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null">status = #{status},</if>
            <if test="address!=null">address = #{address},</if>
            <if test="phone!=null">pets_num = #{phone},</if>
            <if test="receiverName!=null">img_path = #{receiverName},</if>
        </trim>
        WHERE id=#{orderId}
    </update>

    <insert id="addPetsInfo" parameterType="java.util.Map">
        INSERT INTO t_b_pets_order_info(id,order_id,pets_id,pets_nums)VALUE
        (#{id},#{orderId},#{petsId},#{petsNums})
    </insert>

</mapper>