<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.demo.dao.PetsMapper" >

    <select id="getAllPets" parameterType="java.util.Map" resultType="TBPets">
        SELECT id,pets_price,pets_num,img_path,is_hot FROM t_b_pets
        <if test="firstResult!=null">
            LIMIT #{firstResult},#{maxResults}
        </if>
    </select>

    <select id="getTotal" resultType="java.util.Map">
        SELECT COUNT(1)as total FROM t_b_pets
    </select>

    <select id="getSinglePetInfo" parameterType="java.util.Map" resultType="TBPets">
        SELECT id,pets_desc,pets_price,pets_num,pets_img_url,is_hot FROM t_b_pets WHERE id=#{id}
    </select>

    <update id="updatePetMsg" parameterType="java.util.Map">
        UPDATE t_b_pets
        <trim prefix="set" suffixOverrides=",">
            <if test="petsDesc!=null">pets_desc = #{petsDesc},</if>
            <if test="petsPrice!=null">pets_price = #{petsPrice},</if>
            <if test="petsNum!=null">pets_num = #{petsNum},</if>
            <if test="imgPath!=null">img_path = #{imgPath},</if>
            <if test="isHot!=null">is_hot = #{isHot},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="addPets" parameterType="java.util.Map">
        INSERT INTO t_b_pets(id,pets_desc,pets_price,pets_num,img_path,is_hot)VALUE
        (#{id},#{petsDesc},#{petsPrice},#{petsNum},#{imgPath},#{isHot})
    </insert>

    <delete id="delPet" parameterType="java.util.Map">
        DELETE FROM t_b_pets WHERE id=#{id}
    </delete>

</mapper>