<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.demo.dao.UserMapper" >

    <select id="getSingleUsersInfo" resultType="java.util.Map">
        SELECT account,user_name,phone,create_time,address FROM t_b_user WHERE id=#{id}
    </select>

    <select id="getAllUsers" resultType="java.util.Map">
        SELECT id,account,user_name,is_root,phone,create_time,address FROM t_b_user
    </select>

    <select id="userLogin" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT id FROM t_b_user WHERE account=#{account} AND password=#{password}
    </select>

    <select id="forgetPassword" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT password FROM t_b_user WHERE account=#{account} AND phone=#{phone}
    </select>

    <update id="updateMsg" parameterType="java.util.Map">
        UPDATE t_b_user
        <trim prefix="set" suffixOverrides=",">
            <if test="password!=null">password = #{password},</if>
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="phone!=null">phone = #{phone},</if>
            <if test="address!=null">address = #{address},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="addUser" parameterType="java.util.Map">
        INSERT INTO t_b_user(id,account,password,user_name,is_root,phone,create_time,address)VALUE
        (#{id},#{account},#{password},#{userName},#{isRoot},#{phone},#{createTime},#{address})
    </insert>

    <delete id="delUsers" parameterType="java.util.Map">
        DELETE FROM t_b_user WHERE id=#{id}
    </delete>

</mapper>