<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.demo.dao.UserMapper" >

    <select id="getAllUsers" resultType="java.util.Map">
        SELECT id,account,user_name,is_root,phone,create_time,address FROM t_b_user
    </select>

    <select id="userLogin" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT id FROM t_b_user WHERE account=#{account} AND password=#{password}
    </select>

    <insert id="addUser">
        INSERT INTO t_b_user(id,account,password,user_name,is_root,phone,create_time,address)VALUE
        (#{id},#{account},#{password},#{userName},#{isRoot},#{phone},#{createTime},#{address})
    </insert>

</mapper>